.vscode/
Firmware/.vs
Firmware/*/Debug
Firmware/*.o
Firmware/*.map
Firmware/*.hex
Firmware/*.elf
Firmware/server/node_modules
Firmware/binsend/node_modules
Firmware/eepromgen/node_modules
AdditionalPrograms/*/node_modules
Hardware/CALCKS/fp-info-cache
Hardware/CALCKS/*-bak
AdditionalPrograms/Buchhaltung.xlsx