.vscode/
Firmware/.vs
Firmware/*/Debug
Firmware/*.o
Firmware/*.map
Firmware/*.hex
Firmware/*.elf
Firmware/eepromdata.bin
Firmware/server/node_modules
Firmware/eepromgen/node_modules
Firmware/server/static/calc.wasm
Firmware/server/static/calc.data
Firmware/server/static/calc.js
Firmware/test_term/test_term
Firmware/test_term/test_term.exe
AdditionalPrograms/*/node_modules
Hardware/CALCKS/fp-info-cache
Hardware/CALCKS/*-bak
Hardware/CALCKS/*.net
Hardware/BOM.xlsx
AdditionalPrograms/Buchhaltung.xlsx